.button{position: absolute; 
right:1000px;
top:300px;
}
.cam{position :absolute;
right:600px;
top:400px;}
.img {position:absolute;
top:200px;
right:600px;
 }
 .title {text-align:center;
	 
	 
	 
 }
 .FuckMate{ text-align:center;
 height: 300px;
background-color:#ffa31a;
	 font-size: 20px;
	 
	 
	 
 }
